<style>
  .message-content{
    font-family: : Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18PX;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <br/>
  <p>Recebemos uma solicitação de redefinição de senha para a sua conta de usuário.</p>
  <p>Confirma solicitação click no link abaixo </p>
  <p>
    <a href="{{link}}" >Redefinir Senha</a>
  </p>
  <p>Se você não solicitou essa ação, ignore esse e-mail.</p>
  <br>
  <p>Obrigado!</p>
  <p>Equipe API Vendas</p>
</div>

